@import "variables";

.NavbarMobile {
}

    .NavbarMobile__hamburger {
        cursor: pointer;
        font: $font-text-xl;
        color: $gray-lighter;
    }

    .NavbarMobile__menu {
        align-items: center;
        background: $green;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        padding: $padding-md;
        position: fixed;
        right: 0;
        top: 0;
    }

        .NavbarMobile__close {
            color: $white;
            cursor: pointer;
            font-size: $font-size-xl;
            padding: $padding-lg;
            position: absolute;
            right: 0;
            top: 0;
        }

        .NavbarMobile__links {
            padding: $padding-lg;
        }

        .NavbarMobile__link {
            color: $white;
            font: $font-text-lg;
            text-align: center;
            padding: $padding-sm;
        }