.Row {
}

.Row--border {
    border: $border-md;
    padding: $padding-md;
}

.Row__aside {
    padding-right: $padding-md;
    padding-right: $padding-sm ?if media (max-width: $media-xs);
}

.Row__body {
    font: $font-text-md;
}