.Display {
    height: $height-xxl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.Display__title {
    font: $font-header-lg;
    color: white;
    text-align: center;
}