$mobile-width: 34em;
$tablet-width: 48em;
$desktop-width: 62em;
$largedesktop-width: 74em;

/*$mobile: media (max-width: $mobile-width);*/
$tablet: media (max-width: $tablet-width);
$desktop: media (max-width: $tablet-width);
$largedesktop: media (max-width: $tablet-width);
