@import "variables";

.Promo {
    height: $height-xxl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

    .Promo__title {
        font: "Monoton", sans-serif;
        font-size: $font-size-xxxxl;
        color: $white;
        text-align: center;
    }