@import "variables";

.Promo {
    height: $height-xl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

    .Promo__title {
        font-family: Monoton, sans-serif;
        font-size: $font-size-xxxl;
        color: $white;
        text-align: center;
    }