@import "variables";

.ProfileImage {
    width: $width-lg;
    height: $height-lg;
}

.ProfileImage--small {
    width: $width-md;
    height: $height-md;
}

.ProfileImage__image {
    border: $border-gray;
    border-radius: 100%;
    width: 100%;
}