@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 400;
    src: local("Karla Italic"),local(Karla-Italic),url(//fonts.gstatic.com/s/karla/v5/q1iut0qldmpQ41lMrYSYhg.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/LCDsRHICy9vmW7BLwm8u7g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/oU7KPLtl1UkRu830svIOXw.woff) format("woff"); 
}
@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 700;
    src: local("Karla Bold Italic"),local(Karla-BoldItalic),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxBsxEYwM7FgeyaSgU71cLG0.woff) format("woff"); 
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    src: local(Karla),local(Karla-Regular),url(//fonts.gstatic.com/s/karla/v5/8gO-GQO6h3meAtqRrd890A.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff) format("woff"); 
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    src: local("Karla Bold"),local(Karla-Bold),url(//fonts.gstatic.com/s/karla/v5/s-O-g1eMGKQFvcIY8dKM9fesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/suoMYBGv5sGCUIrF9mVTffesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/3nZS3BKzlvhkwl4yjCQcjPesZW2xOQ-xsNqO47m55DA.woff) format("woff"); 
}
.Alert {
    background-color: #78cc5c;
    color: #288f18;
    font: normal 16px "Karla", sans-serif;
    height: calc(12px * 4);
    padding: 0 calc(12px * 2); 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.Alert--lg {
    font: normal 20px "Karla", sans-serif;
    height: calc(12px * 6);
    padding: 0 calc(12px * 3); 
}
.Alert__close {
    cursor: pointer;
}
@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 400;
    src: local("Karla Italic"),local(Karla-Italic),url(//fonts.gstatic.com/s/karla/v5/q1iut0qldmpQ41lMrYSYhg.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/LCDsRHICy9vmW7BLwm8u7g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/oU7KPLtl1UkRu830svIOXw.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 700;
    src: local("Karla Bold Italic"),local(Karla-BoldItalic),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    src: local(Karla),local(Karla-Regular),url(//fonts.gstatic.com/s/karla/v5/8gO-GQO6h3meAtqRrd890A.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    src: local("Karla Bold"),local(Karla-Bold),url(//fonts.gstatic.com/s/karla/v5/s-O-g1eMGKQFvcIY8dKM9fesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/suoMYBGv5sGCUIrF9mVTffesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/3nZS3BKzlvhkwl4yjCQcjPesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
.Body * {
    font-size: calc(14px + 7 * ((100vw - 420px) / 860));
    line-height: 140%;
    font-family: "Karla";
}
@media screen and (min-width: 1280px) {
    .Body * {
        font-size: 21px;
    }
}
@media screen and (max-width: 420px) {
    .Body * {
        font-size: 14px;
    }
}
.Body h3 {
    font-size: calc(16px + 4 * ((100vw - 420px) / 860));
    margin: 12px 0;
}
@media screen and (min-width: 1280px) {
    .Body h3 {
        font-size: 20px;
    }
}
@media screen and (max-width: 420px) {
    .Body h3 {
        font-size: 16px;
    }
}
@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 400;
    src: local("Karla Italic"),local(Karla-Italic),url(//fonts.gstatic.com/s/karla/v5/q1iut0qldmpQ41lMrYSYhg.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/LCDsRHICy9vmW7BLwm8u7g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/oU7KPLtl1UkRu830svIOXw.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 700;
    src: local("Karla Bold Italic"),local(Karla-BoldItalic),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    src: local(Karla),local(Karla-Regular),url(//fonts.gstatic.com/s/karla/v5/8gO-GQO6h3meAtqRrd890A.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    src: local("Karla Bold"),local(Karla-Bold),url(//fonts.gstatic.com/s/karla/v5/s-O-g1eMGKQFvcIY8dKM9fesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/suoMYBGv5sGCUIrF9mVTffesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/3nZS3BKzlvhkwl4yjCQcjPesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
.Display {
    height: calc(12px * 18);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.Display__title {
        font: bold 26px "Karla", sans-serif;
        color: #fff;
        text-align: center;
    }
.FrontpageHeader {
    height: calc(12px * 24);
    color: white;
    background-size: cover;
}
.Hello {

}

.Hello--alternate {

}

.Hello__title {

    }
@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 400;
    src: local("Karla Italic"),local(Karla-Italic),url(//fonts.gstatic.com/s/karla/v5/q1iut0qldmpQ41lMrYSYhg.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/LCDsRHICy9vmW7BLwm8u7g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/oU7KPLtl1UkRu830svIOXw.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 700;
    src: local("Karla Bold Italic"),local(Karla-BoldItalic),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/VZ08RdiotRdV1D0ewK-mxBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    src: local(Karla),local(Karla-Regular),url(//fonts.gstatic.com/s/karla/v5/8gO-GQO6h3meAtqRrd890A.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff) format("woff");
}
@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    src: local("Karla Bold"),local(Karla-Bold),url(//fonts.gstatic.com/s/karla/v5/s-O-g1eMGKQFvcIY8dKM9fesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/karla/v5/suoMYBGv5sGCUIrF9mVTffesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/karla/v5/3nZS3BKzlvhkwl4yjCQcjPesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
.Media {
    display: flex;
}
@media (max-width: 34em) {
    .Media {
        flex-direction: column;
    }
}
.Media--border {
    border: 3px solid #555;
    padding: calc(12px * 2);
}
.Media__aside {
    padding-right: calc(12px * 2);
}
@media (max-width: 34em) {
    .Media__aside {
        padding-right: 12px;
    }
}
.Media__body {
    font: normal 16px "Karla", sans-serif;
}
.Placeholder {
    height: calc(12px * 6);
    border: 1px dotted #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
}

.UserImage {
    width: calc(12px * 6);
    height: calc(12px * 6);
}
@media (max-width: 34em) {
    .UserImage {
        width: calc(12px * 4);
        height: calc(12px * 4);
    }
}
.UserImage__image {
    border-radius: 100%;
    width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 74em;
  width: 90%;
}
.region-one {
    background: #f7ba00;
}
.row            { display: flex; flex-wrap: wrap; }
@media (max-width: 34em) {
  .row {
    flex-direction: column;
  }
}
.row-top        { align-items: flex-start; display: flex; flex-wrap: wrap; }
.row-middle     { align-items: center; display: flex; flex-wrap: wrap; }
.row-bottom     { align-items: flex-end; display: flex; flex-wrap: wrap; }
.row-stretch    { align-items: stretch; display: flex; flex-wrap: wrap; }
.row-baseline   { align-items: baseline; display: flex; flex-wrap: wrap; }
.row-left       { justify-content: flex-start; display: flex; flex-wrap: wrap; }
.row-center     { justify-content: center; display: flex; flex-wrap: wrap; }
.row-right      { justify-content: flex-end; display: flex; flex-wrap: wrap; }
.row-between    { justify-content: space-between; display: flex; flex-wrap: wrap; }
.row-around     { justify-content: space-around; display: flex; flex-wrap: wrap; }
.col            { width: 0; min-width: 0; flex-grow: 1; flex-shrink: 0;}
@media (max-width: 34em) {
  .col {
    width: inherit;
  }
}
.col-1          { width: calc(100% * 1 / 12); flex-shrink: 0;}
.col-2          { width: calc(100% * 2 / 12); flex-shrink: 0;}
.col-3          { width: calc(100% * 3 / 12); flex-shrink: 0;}
.col-4          { width: calc(100% * 4 / 12); flex-shrink: 0;}
.col-5          { width: calc(100% * 5 / 12); flex-shrink: 0;}
.col-6          { width: calc(100% * 6 / 12); flex-shrink: 0;}
.col-7          { width: calc(100% * 7 / 12); flex-shrink: 0;}
.col-8          { width: calc(100% * 8 / 12); flex-shrink: 0;}
.col-9          { width: calc(100% * 9 / 12); flex-shrink: 0;}
.col-10         { width: calc(100% * 10 / 12); flex-shrink: 0;}
.col-11         { width: calc(100% * 11 / 12); flex-shrink: 0;}
.col-12         { width: 100%; flex-shrink: 0;}
*, *:before, *:after  {
    margin: 0;
    padding: 0;
}
.padding-leftright-md {
    padding-left: calc(12px * 2);
    padding-right: calc(12px * 2);
}
.padding-leftright-collapse-md {
    padding-left: calc(12px * 2);
    padding-right: calc(12px * 2);
}
@media (max-width: 34em) {
    .padding-leftright-collapse-md {
        padding-left: 0;
    }
}
@media (max-width: 34em)) {
    .padding-leftright-collapse-md {
        padding-right: 0;
    }
}
.padding-topbottom-md {
    padding-top: calc(12px * 2);
    padding-bottom: calc(12px * 2);
}
.padding-topbottom-collapse-md {
    padding-top: calc(12px * 2);
    padding-bottom: calc(12px * 2);
}
@media (max-width: 34em) {
    .padding-topbottom-collapse-md {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(HelveticaNeue),local(Helvetica);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}
.styleguide {
    height: calc(12px * 10);
    display: flex;
    align-items: center;
}
.styleguide-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ddd;
}
.styleguide-description {
    padding: 0 0 0 12px;
    font-family: sans-serif;
    font-size: 14px;
    color: #ddd;
}


/*# sourceMappingURL=main.css.map */
