@import "variables";

.FrontpageHeader {
    background-size: cover;
}

.FrontpageHeader__top {
    height: $height-md;
}

.FrontpageHeader__bottom {
    height: $height-xxxl;
    display: flex;
    justify-content: center;
    align-items: center;    
}