$spacer: 12px;

$spacing-xl: calc($spacer * 4);
$spacing-lg: calc($spacer * 3);
$spacing-md: $spacer;
$spacing-sm: calc($spacer / 2);

$spacing-leftright-md: 0 $spacer;
$spacing-topbottom-md: $spacer 0;
 
$height-md: calc($spacer * 4);
$height-lg: calc($spacer * 8);