$spacer: 12px;

$padding-leftright-md: 0 calc($spacer * 2);
$padding-leftright-lg: 0 calc($spacer * 3);

$padding-topbottom-md: calc($spacer * 2) 0;
$padding-topbottom-lg: calc($spacer * 3) 0;
 
$height-md: calc($spacer * 4);
$height-lg: calc($spacer * 6); 