@import "variables";

.Masthead {
    background-size: cover;
}

.Masthead__nav {
    height: $height-lg;
    height: $height-sm ?if $mobile;
}

.Masthead__title {
    align-items: center;
    color: $white;
    display: flex;
    font: $font-header-xl ?if $mobile;
    font: $font-header-xxxl;
    height: $height-xl ?if $mobile;
    height: $height-xxxl;
    justify-content: center;
}