@import "variables";

.Masthead {
    background-size: cover;
}

.Masthead__top {
    height: $height-md;
}

.Masthead__bottom {
    height: $height-xxxl;
    display: flex;
    justify-content: center;
    align-items: center;    
}