@import "variables";

.Masthead {
    background-size: cover;
}

    .Masthead__header {
        height: $height-lg;
        display: flex;
        justify-content: space-between;
    }

    .Masthead__logo {
        color: white;
        font: $font-heading-sm;
    }

    .Masthead__nav {
        display: flex;
        align-items: center;
        display: none ?if $mobile;
    }

    .Masthead__mobileNav {
        display: none;
        display: block ?if $mobile;
    }

    .Masthead__content {
        align-items: center;
        display: flex;
        height: $height-xxl ?if $mobile;
        height: $height-xxxxl;
        justify-content: center;
        margin-top: calc($spacer * -6);
        text-align: center;
        position: relative;

    }

    .Masthead__logo {
        position: absolute;
        top: 0;
        left: calc($spacer * -1);
    }

    .Masthead__title {
        color: $white;
        font: $font-heading-xl ?if $mobile;
        font: $font-heading-xxxl;
    }