@import "variables";

.Navbar {
}

.Navbar__hamburger {
    display: none;
    display: block ?if $mobile;
}

.Navbar__links {
    display: flex;
    display: none ?if $mobile;
}

.Navbar__link {
    padding: $padding-sm;
    color: $gray-light;
    font: $font-heading-sm;
}