@import "variables";

.Navbar {
}

    .Navbar__links {
        display: flex;
    }

    .Navbar__link {
        padding: $padding-sm;
        color: $gray-lighter;
        font: $font-heading-sm;
    }

    .Navbar__popover {
        width: $width-xl;
    }

    .Navbar__arrowWrapper {
        display: flex;
        justify-content: center;
    }

    .Navbar__arrow {
        width: 0; 
        height: 0; 
        border-left: $width-xxs solid transparent;
        border-right: $width-xxs solid transparent;
        border-bottom: $width-xxs solid $green;
    }

    .Navbar__sublinks {
        border-radius: $border-radius-md;
        background: $green;
        padding: $padding-xs 0;
    }

    .Navbar__sublink {
        color: $white;
        font: $font-text-lg;
        padding: $padding-xs $padding-sm;
    }

    .Navbar__sublink:hover {
        color: $white;
        font: $font-text-lg;
        background: $green-dark;
    }