@import "variables";

.Link {
	display: flex;
	font: $font-heading-md;
}

    .Link__title {
    	color: $blue;
    	margin-right: $spacer;
    }

    .Link__icon{
    	align-self: center;
    }

.Link--large {
	font: $font-heading-xl;
}