@import "variables";

.StyleguideHeader {
    padding: $padding-lg 0 $padding-md 0;
}

    .StyleguideHeader__title {
        font-family: monospace;
        font-size: $font-size-sm;
        color: $gray-light;
    }