@import "variables";

.padding-leftright-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
}

.padding-left-collapse-sm {
    padding-left: $padding-sm;
    padding-left: 0 ?if $mobile;
}

.padding-left-collapse-md {
    padding-left: $padding-md;
    padding-left: 0 ?if $mobile;
}

.padding-right-collapse-sm {
    padding-right: $padding-sm;
    padding-right: 0 ?if $mobile;
}

.padding-right-collapse-md {
    padding-right: $padding-md;
    padding-right: 0 ?if $mobile;
}

.padding-leftright-collapse-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
    padding-left: 0 ?if $mobile;
    padding-right: 0 ?if $mobile);
}

.padding-topbottom-md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
}

.padding-topbottom-collapse-md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    padding-top: 0 ?if $mobile;
    padding-bottom: 0 ?if $mobile;
}