@import "variables";

.styleguide {
    height: $height-xl;
    display: flex;
    align-items: center;
}

.styleguide-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: $font-size-lg;
    color: $gray-lighter;
}

.styleguide-description {
    padding: $padding-left-sm;
    font-family: sans-serif;
    font-size: $font-size-sm;
    color: $gray-lighter;
}