.container {
  margin: 0 auto;
  max-width: $largedesktop-width;
  width: 90%;
}

.region-one {
    background: $brand-yellow;
}

.padding-leftright-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
}

.padding-leftright-collapse-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
    padding-left: 0 ?if $mobile;
    padding-right: 0 ?if $mobile);
}

.padding-topbottom-md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
}

.padding-topbottom-collapse-md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    padding-top: 0 ?if $mobile;
    padding-bottom: 0 ?if $mobile;
}