$gray-xs: #ddd;
$gray-sm: #aaa;
$gray-md: #555;

$color-white: #fff;

$brand-yellow: #f7ba00;
$brand-yellow-dark: #d67d00;

$brand-green: #78cc5c;
$brand-green-dark: #288f18;

$border-md: 3px solid $gray-md;



$mobile-width: 34em;
$tablet-width: 48em;
$desktop-width: 62em;
$largedesktop-width: 74em;

$mobile: media (max-width: $mobile-width);
$tablet: media (max-width: $tablet-width);
$desktop: media (max-width: $tablet-width);
$largedesktop: media (max-width: $tablet-width);



$spacer: 12px;

$padding-sm: $spacer;
$padding-md: calc($spacer * 2);

$padding-left-sm: 0 0 0 $spacer;
$padding-left-md: 0 0 0 calc($spacer * 2);

$padding-leftright-md: 0 calc($spacer * 2);
$padding-leftright-lg: 0 calc($spacer * 3);

$padding-margin-md: 0 calc($spacer * 2);
$padding-margin-lg: 0 calc($spacer * 3);

$padding-topbottom-sm: $spacer 0;
$padding-topbottom-md: calc($spacer * 2) 0;
$padding-topbottom-lg: calc($spacer * 3) 0;

$margin-topbottom-sm: $spacer 0;
$margin-topbottom-md: calc($spacer * 2) 0;
$margin-topbottom-lg: calc($spacer * 3) 0;

$width-md: calc($spacer * 4);
$width-lg: calc($spacer * 6); 

$height-md: calc($spacer * 4);
$height-lg: calc($spacer * 6); 
$height-xl: calc($spacer * 10); 
$height-xxl: calc($spacer * 18);
$height-xxxl: calc($spacer * 24); 



$font-family: "Karla";

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 26px;

$font-text-sm: normal $font-size-sm $font-family, sans-serif;
$font-text-md: normal $font-size-md $font-family, sans-serif;
$font-text-lg: normal $font-size-lg $font-family, sans-serif;

$font-header-sm: bold $font-size-md $font-family, sans-serif;
$font-header-md: bold $font-size-lg $font-family, sans-serif;
$font-header-lg: bold $font-size-xl $font-family, sans-serif;
