.Body * {
    font-size: responsive;
    min-font-size: $font-size-sm;
    line-height: 140%;
    font-family: $font-family;
}

.Body h3 {
    font: $font-header-md;
    margin: $margin-topbottom-sm;
}