@import "variables";

.Icon {
    width: calc($spacer * 1.5);
    height: calc($spacer * 1.5);
}

    .Icon--large {
        width: $width-md;
        height: $height-md;
    }

    .Icon--white {
        fill: $white;
    }
