@import "variables";

.Icon {
    width: $width-md;
    height: $height-md;
}

    .Icon--small {
        width: $width-sm;
        height: $height-sm;
    }

    .Icon--white {
        fill: $white;
    }
