@import "variables";

.Tag {
    border-radius: 1em;
    background: gray;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: $padding-xxxs $padding-sm;
    font: $font-text-xs;
    background-color: $orange;
}

    .Tag__title {
        color: $white;
    }