.Alert {
    all: initial;
    background-color: $brand-green;
    color: $brand-green-dark;
    font-family: "Karla";
    font-size: responsive;
    min-font-size: 14px;
    padding: $padding-md;
}

.Alert--lg {
    font: $font-base-lg;
    padding: $padding-lg;  
}