@import "variables";
@import "vue-animate/dist/vue-animate";

.Alert {
    align-items: center;
    border-radius: $border-radius-md;
    border: $border-green;
    color: $green;
    display: flex;
    font: $font-header-md;
    height: $height-lg;
    justify-content: space-between; 
    padding: $padding-leftright-md; 
}

.Alert--error {
    border: $border-red;
    color: $red;
}

    .Alert__close {
        cursor: pointer;
    }