@import "variables";

.Alert {
    align-items: center;
    border-radius: $border-radius-md;
    border: $border-green;
    display: flex;
    height: $height-lg;
    justify-content: space-between; 
    padding: $padding-leftright-md; 
}

.Alert--error {
    border: $border-red;
    color: $red;
}

    .Alert__title {
        font: $font-heading-md;
        color: $green;
    }

.Alert--error .Alert__title {
    color: $red;
}

    .Alert__close {
        cursor: pointer;
    }