@import "variables";

.ForumPost {
    display: flex;
    border: $border-gray;
    border-radius: $border-radius-md;
    padding: $padding-md;
}

    .ForumPost__left {
        padding-right: $padding-md;
        display: none ?if $mobile;
        margin-left: -$margin-lg;
    }

    .ForumPost__title {
        font: $font-heading-xl;
        font: $font-heading-lg ?if $mobile;
        margin-bottom: $margin-xs;
    }

    .ForumPost__meta {
        color: $gray-light;
        font: $font-text-sm;
        margin-bottom: $margin-sm;
    }

    .ForumPost__body {
        font: $font-text-md;
    }