@import "variables";

.ForumPost {
    display: flex;
    border: $border-gray;
    border-radius: $border-radius-md;
    padding: $padding-md;
}

    .ForumPost__left {
        padding-right: $padding-md;
        display: none ?if $mobile;
    }

    .ForumPost__meta {
        color: $gray-light;
        font: $font-text-sm;
        margin-bottom: $margin-sm;
    }

    .ForumPost__body {
        font: $font-text-md;
    }