@import "variables";

.Block {

}

.Block--withBackground {
    background: $gray-lighter;
    padding: $padding-md;
}

    .Block__title {
        font: $font-heading-md;
        margin-bottom: $margin-sm;
    }
