@import "variables";

.Badge {
	display: inline-block;
	background-color: $red;
	border-radius: 15px;
	min-width: $width-sm;
	padding: 0 $padding-sm;
	
}
	.Badge__title{
		align-items: center;
		font: $font-heading-md;
    	color: $white;

	}